.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  gap: 10px;
  border: black solid 1px;
}

.contact_span {
  font-size: 20px;
}

.contact_input:focus {
  outline-color: skyblue;
}

.contact_button {
  background-color: white;
  width: 90px;
  cursor: pointer;
  border-color: lightgray;
  border-radius: 4px;
  border-style: solid;
  outline: none;
  margin-bottom: 5px;
}

.contact_button:active {
  background-color: cornflowerblue;
}
